.btn.active { background-color: #e2f3e6; }

.date-text { font-size: 12px; }

::ng-deep .custom-badge .mat-badge-content { background-color: #4caf50; }

.no-data-icon img {
  width: 100px;
  height: auto;
}

.btn-hover:hover { background-color: #e2f3e6; }
