<div class="ticket-container d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 ">
                <form class="form form-control-sm p-3" aria-label="Assign Admin Form">
                    <h1 class="text-success py-3 text-center" title="heading" tabindex="0">Assign Admin</h1>
                    <div class="row mb-2">
                        <div class="col-lg-2 col-sm-12">
                            <label class="form-label fw-bold" for="service_type" tabindex="0">Admins</label>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <div class="form-outline">
                                <select id="assignAdmin" class="form-select" name="assignAdmin"
                                    [(ngModel)]="assignAdmin" aria-label="Select admin" aria-required="true" required
                                    tabindex="0" (click)="isChecked=false"
                                    [ngClass]="{'red-border-class': assignAdmin === 0 && isFormSubmitted} ">
                                    <option selected disabled value="">Select an admin</option>
                                    <option *ngFor="let admin of adminLists" id="selectAdmin"
                                        [value]="admin.employeeId">
                                        {{admin.firstName}} {{admin.lastName}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-check" *ngIf="loggedInUser.roles?.[1]?.roleId">
                                <input type="checkbox" [(ngModel)]="isChecked" id="assignToMeCheckBox"
                                    class="form-check-input" name="assignToMeCheckBox" tabindex="0"
                                    aria-label="Click to select yourself as admin" aria-required="true"
                                    [value]="assignToMe" (ngModelChange)="assignToMeFun($event)" />
                                <label for="assignToMeCheckBox" class="form-check-label">Assign to me</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-end align-items-end my-4">
                        <button class="btn btn-secondary btn-sm mx-2" id="cancelBtn" tabindex="0" title="cancel"
                            aria-label="Cancel button" role="button" (click)="onCancel()">Cancel</button>
                        <button type="submit" class="btn btn-success btn-sm" id="assignAdminBtn" tabindex="0"
                            title="Assign" aria-label="Assign Admin button" role="button"
                            (click)="assignAdminSubmit()">Assign
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
