<div class="row justify-content-start m-3 border-bottom">
    <div class="col-lg-7 col-md-9 col-sm-12 text-start">
        <button class="btn btn-transparent text-success me-2 shadow-none btn-hover" tabindex="0"
            title="Assigned to me tickets" aria-label="assigned to me button" (click)="assignedToMe('assigned to me')"
            [ngClass]="{ 'active': activeStatus === 'assigned to me' }">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span [matBadge]="ticketCount" matBadgeOverlap="false" class="custom-badge"> Assigned to me</span></button>
        <button class="btn btn-transparent text-success me-2 shadow-none btn-hover" tabindex="0"
            title="Assigned to all Tickets" aria-label="Assigned to all button"
            (click)="assignedToAll('assigned to all')" [ngClass]="{ 'active': activeStatus === 'assigned to all' }">
            <i class="fa-solid fa-users"></i> Assigned to All</button>
        <button class="btn btn-transparent text-success me-2 shadow-none btn-hover" tabindex="0"
            title="Make an user admin" aria-label="Make an user admin" (click)="userToAdmin('user to admin')"
            [ngClass]="{ 'active': activeStatus === 'user to admin' }">
            <i class="fa-solid fa-user-graduate"></i> User to Admin</button>
        <button class="btn btn-transparent text-success me-2 shadow-none btn-hover" tabindex="0"
            title="Create new service type" aria-label="Make an user admin"
            (click)="createServiceType('new service type')"
            [ngClass]="{ 'active': activeStatus === 'new service type' }">
            <i class="fa-solid fa-square-plus"></i> Create Service Type</button>
    </div>
    <div class="col-lg-5 col-md-3 col-sm-12 text-end">
        <div class="row justify-content-end" *ngIf="activeStatus === 'assigned to me'">
            <div class="col-auto">
                <form class="form-inline" aria-label="Filter Ticket Form">
                    <div class="input-group">
                        <input type="text" class="form-control shadow-none" placeholder="Search by word" #filter>
                        <button class="btn btn-success shadow-none" type="button" (click)="filterResults(filter.value)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ticket-container m-4" *ngFor="let ticketRequest of filteredTicketRequests">
    <div class="row justify-content-center">
        <div class="col-12">
            <form class="form form-control-sm shadow-lg p-3 rounded" aria-label="Assigned Ticket Form">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row mb-2">
                            <div class="col-lg-12 col-sm-12">
                                <label class="form-label fw-bold" aria-label="service type" for="service_type"
                                    tabindex="0">Service type</label>
                            </div>
                            <div class="col-lg-12 col-sm-8 custom-spacing" id="serviceType" tabindex="0">
                                {{ ticketRequest.ticketType.ticketType }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-12 col-sm-12">
                                <label class="form-label fw-bold" aria-label="Ticket Status" for="status"
                                    tabindex="0">Status</label>
                            </div>
                            <div class="col-lg-12 col-sm-12 custom-spacing" tabindex="0">
                                <div>
                                    <span *ngIf="ticketRequest.ticketStatus === 2">
                                        <span class="badge text-bg-info"> Assigned </span>
                                    </span>
                                    <span *ngIf="ticketRequest.ticketStatus === 3">
                                        <span class="badge text-bg-success"> Approved </span>
                                    </span>
                                    <span *ngIf="ticketRequest.ticketStatus === 4">
                                        <span class="badge text-bg-danger"> Rejected </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row mb-2">
                            <div class="col-lg-12 col-sm-12">
                                <label class="form-label fw-bold" aria-label="Ticket Created by" for="createdBy"
                                    tabindex="0">Created By</label>
                            </div>
                            <div class="col-lg-12 col-sm-12 custom-spacing" tabindex="0">
                                {{ ticketRequest.createBy }} </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-12 col-sm-12">
                                <label class="form-label fw-bold" aria-label="Ticket Description" for="description"
                                    tabindex="0">Description</label>
                            </div>
                            <div class="col-lg-12 col-sm-12 custom-spacing" id="ticketDescription" tabindex="0">
                                {{ ticketRequest.ticketDescription | truncate: 50 }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <label class="form-label fw-bold" aria-label="Created time" for="createdTime"
                                tabindex="0">Created Time</label>
                        </div>
                        <div class="row mb-2">
                            <div class="text-muted custom-spacing">{{ ticketRequest.ticketCreateTimestamp |
                                date:'medium' }}</div>
                        </div>
                        <div class="row">
                            <label class="form-label fw-bold" aria-label="Edied time" for="editedTime"
                                tabindex="0">Edited Time</label>
                        </div>
                        <div class="row mb-2">
                            <div class="text-muted custom-spacing">{{ ticketRequest.ticketUpdateTimestamp |
                                date:'medium' }}</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 text-end">
                        <button class="btn btn-success btn-sm me-2" title="View More" data-bs-toggle="modal"
                            data-bs-target="#showMorePopUp" (click)="showTicket(ticketRequest)">
                            <i class="fa fa-external-link text-light" aria-hidden="true"></i>
                        </button>
                        <button *ngIf="ticketRequest.ticketStatus === 2 " class="btn btn-primary btn-sm me-2"
                            title="Approve" (click)="approveTicket(ticketRequest)">
                            <i class="fa-solid fa-check"></i>
                        </button>
                        <button *ngIf="ticketRequest.ticketStatus === 2 " class="btn btn-danger btn-sm me-2"
                            title="Reject" (click)="rejectTicket(ticketRequest)">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<mat-paginator class="custom-paginator-theme d-flex align-items-center justify-content-center" [length]="ticketCount"
    [pageSize]="pageSize" [pageIndex]="currentPage" [pageSizeOptions]="[3]"
    [showFirstLastButtons]="showFirstLastButtons" (page)="onPageChange($event)" aria-label="Select page">
</mat-paginator>
<div class="modal fade" id="showMorePopUp" tabindex="-1" aria-labelledby="Show More Pop Up" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content custom-rounded-border">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Ticket Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ticket-container">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <form class="form form-control-sm" aria-label="Ticket Requests Form">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12">
                                                    <label class="form-label fw-bold" aria-label="service type"
                                                        for="service_type" tabindex="0">Service type</label>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-12 col-sm-12 custom-spacing" id="serviceType"
                                                    tabindex="0">
                                                    {{selectedTicket?.ticketType?.ticketType}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12">
                                                    <label class="form-label fw-bold" aria-label="Ticket Description"
                                                        for="description" tabindex="0">Description</label>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-12 col-sm-12 custom-spacing" id="ticketDescription"
                                                    tabindex="0">
                                                    {{selectedTicket?.ticketDescription}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12">
                                                    <label class="form-label fw-bold" aria-label="Ticket Status"
                                                        for="status" tabindex="0">Status</label>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-12 col-sm-12 custom-spacing" tabindex="0">
                                                    <span *ngIf="selectedTicket?.ticketStatus===1">In progress</span>
                                                    <span *ngIf="selectedTicket?.ticketStatus===2">Assigned </span>
                                                    <span *ngIf="selectedTicket?.ticketStatus===3">Approved</span>
                                                    <span *ngIf="selectedTicket?.ticketStatus===4">Rejected</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                            <div class="row mb-3">
                                                <div class="col-6" aria-label="Ticket Created Date" id="currentDate"
                                                    tabindex="0">
                                                    <div class="row">
                                                        <label class="form-label fw-bold" aria-label="Created time"
                                                            for="createdTime" tabindex="0">Created Time</label>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="text-muted custom-spacing">{{
                                                            selectedTicket?.ticketCreateTimestamp | date:'medium' }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <label class="form-label fw-bold" aria-label="Edied time"
                                                            for="editedTime" tabindex="0">Edited Time</label>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="text-muted custom-spacing">
                                                            {{selectedTicket?.ticketUpdateTimestamp | date:'medium' }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
