<div class="signup-container d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 col-sm-12">
                <form class="form form-control-sm shadow-lg p-3 rounded sign-up-form" aria-label="Signup Form">
                    <h1 class="text-center" aria-label="Sign up" tabindex="0">Sign Up</h1>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <div class="form-outline">
                                <span class="fw-bold text-danger">* </span>
                                <label class="form-label" for="signup_user_id" tabindex="-1">Username</label>
                                <input type="text" id="signup_user_id" class="form-control" name="userid" tabindex="0"
                                    aria-label="Click to enter your username" aria-required="true"
                                    [ngClass]="{'red-border-class': errorMap.has('usernameErrorMessage') && isFormSubmitted}"
                                    [(ngModel)]="username" required />
                                <div *ngIf="errorMap.has('usernameErrorMessage') && isFormSubmitted" id="toast"
                                    class="font-weight-bold text-danger">
                                    {{errorMap.get('usernameErrorMessage')}}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-outline">
                                <span class="fw-bold text-danger">* </span>
                                <label class="form-label" for="signup_password" tabindex="-1">Password</label>
                                <div class="input-group">
                                    <input [type]="passwordFieldType" id="signup_password" class="form-control"
                                        [ngClass]="{'red-border-class': errorMap.has('passwordErrorMessage') && isFormSubmitted}"
                                        name="password" tabindex="0" aria-label="Click to enter your password"
                                        [(ngModel)]="password" aria-required="true" required />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-light rounded-0" type="button"
                                            title="show password" id="togglePassword" tabindex="0"
                                            aria-label="Click to show password" aria-required="true"
                                            (click)="togglePasswordVisibility()">
                                            <i class="far"
                                                [ngClass]="{'fa-eye': !isPasswordVisible, 'fa-eye-slash': isPasswordVisible}"
                                                id="togglePassword"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="errorMap.has('passwordErrorMessage') && isFormSubmitted" id="toast"
                                    class="font-weight-bold text-danger">
                                    {{errorMap.get('passwordErrorMessage')}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-outline">
                                <span class="fw-bold text-danger">* </span>
                                <label class="form-label" for="first_name" tabindex="-1">First Name</label>
                                <input type="text" id="first_name" class="form-control" name="first_name" tabindex="0"
                                    [ngClass]="{'red-border-class': errorMap.has('firstNameErrorMessage') && isFormSubmitted}"
                                    aria-label="Click to enter your first name" [(ngModel)]="firstname"
                                    aria-required="true" required />
                                <div *ngIf="errorMap.has('firstNameErrorMessage') && isFormSubmitted" id="toast"
                                    class=" font-weight-bold text-danger">
                                    {{errorMap.get('firstNameErrorMessage')}}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <span class="fw-bold text-danger">* </span>
                                <label class="form-label" for="last_name" tabindex="-1">Last Name</label>
                                <input type="text" id="last_name" class="form-control" name="last_name" tabindex="0"
                                    [ngClass]="{'red-border-class': errorMap.has('lastNameErrorMessage') && isFormSubmitted}"
                                    aria-label="Click to enter your last name" [(ngModel)]="lastname"
                                    aria-required="true" required />
                                <div *ngIf="errorMap.has('lastNameErrorMessage') && isFormSubmitted" id="toast"
                                    class=" font-weight-bold text-danger">
                                    {{errorMap.get('lastNameErrorMessage')}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-outline mb-3">
                        <span class="fw-bold text-danger">* </span>
                        <label class="form-label" for="email" tabindex="-1">Email</label>
                        <input type="email" id="email" class="form-control" name="email" tabindex="0"
                            [ngClass]="{'red-border-class': errorMap.has('emailErrorMessage') && isFormSubmitted}"
                            aria-label="Click to enter your email" [(ngModel)]="email" aria-required="true" required />
                        <div *ngIf="errorMap.has('emailErrorMessage') && isFormSubmitted" id="toast"
                            class="font-weight-bold text-danger">
                            {{errorMap.get('emailErrorMessage')}}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-outline">
                                <span class="fw-bold text-danger">* </span>
                                <label class="form-label" for="phone_number" tabindex="-1">Phone Number</label>
                                <input type="tel" id="phone_number" class="form-control" name="phone_number"
                                    [ngClass]="{'red-border-class': errorMap.has('phoneErrorMessage') && isFormSubmitted}"
                                    tabindex="0" aria-label="Click to enter your phone number" aria-required="true"
                                    [(ngModel)]="phoneNumber" required />
                                <div *ngIf="errorMap.has('phoneErrorMessage') && isFormSubmitted" id="toast"
                                    class="font-weight-bold text-danger">
                                    {{errorMap.get('phoneErrorMessage')}}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <span class="fw-bold text-danger">* </span>
                                <label class="form-label" for="designation" tabindex="-1">Designation</label>
                                <input type="text" id="designation" class="form-control" name="designation" tabindex="0"
                                    [ngClass]="{'red-border-class': errorMap.has('designationErrorMessage') && isFormSubmitted}"
                                    [(ngModel)]="designation" aria-label="Click to enter your designation"
                                    aria-required="true" required />
                                <div *ngIf="errorMap.has('designationErrorMessage') && isFormSubmitted" id="toast"
                                    class=" font-weight-bold text-danger">
                                    {{errorMap.get('designationErrorMessage')}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-outline">
                                <span class="fw-bold text-danger">* </span>
                                <label class="form-label" for="state" tabindex="-1">State</label>
                                <input type="text" id="state" class="form-control" name="state" tabindex="0"
                                    [ngClass]="{'red-border-class': errorMap.has('stateErrorMessage') && isFormSubmitted}"
                                    [(ngModel)]="state" aria-label="Click to enter your state" aria-required="true"
                                    required />
                                <div *ngIf="errorMap.has('stateErrorMessage') && isFormSubmitted" id="toast"
                                    class=" font-weight-bold text-danger">
                                    {{errorMap.get('stateErrorMessage')}}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <span class="fw-bold text-danger">* </span>
                                <label class="form-label" for="country" tabindex="-1">Country</label>
                                <select id="country" class="form-control" name="country" [(ngModel)]="country"
                                    [ngClass]="{'red-border-class': errorMap.has('countryErrorMessage') && isFormSubmitted}"
                                    aria-label="Select your country" aria-required="true" required>
                                    <option *ngFor="let country of countries" [value]="country.countryCode">
                                        {{ country.countryName }}
                                    </option>
                                </select>
                                <div *ngIf="errorMap.has('countryErrorMessage') && isFormSubmitted" id="toast"
                                    class=" font-weight-bold text-danger">
                                    {{errorMap.get('countryErrorMessage')}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="alreadyExistErrorMessage" id="toast" class=" font-weight-bold text-danger">
                        {{ alreadyExistErrorMessage }}
                    </div>
                    <div class="d-flex flex-column align-items-center mb-2">
                        <button type="submit" class="btn btn-outline-light btn-sm" id="signup-btn" tabindex="0"
                            aria-label="Signup button" role="button" (click)="signup()">Sign Up
                        </button>
                        <div class="pt-2">
                            Are you an existing user?
                            <a class="link-light py-2 text-color fw-bold" id="go-to-login" routerLink="/login"
                                tabindex="0" aria-label="Click here to login">Click Here
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
